@model PhamTaManhLan_8888.Models.Category

<h2>Cập Nhật Danh Mục</h2>
<form action="@Url.Action("Edit", "Category", new { area = "Admin" })" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label for="Name">Tên danh mục</label>
        <input name="Name" value="@Model.Name" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-warning">Cập nhật</button>
    <a href="@Url.Action("Index", "Category", new { area = "Admin" })" class="btn btn-secondary">Quay lại</a>
</form>
