@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User)) // Kiểm tra xem người dùng đã đăng nhập chưa
    {
        var user = await UserManager.GetUserAsync(User); // Lấy thông tin người dùng hiện tại
        var roles = await UserManager.GetRolesAsync(user); // Lấy danh sách vai trò của người dùng

        <li class="nav-item">
            <a id="manage" class="nav-link text-dark"
               asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello @UserManager.GetUserName(User)!
            </a>
        </li>

           <!-- @if (roles.Contains("Admin")) // Nếu là Admin
        {
                    <li class="nav-item">
                        <a id="admin-dashboard" class="nav-link text-dark"
                           asp-area="Admin" asp-controller="Product" asp-action="Index">
                            Admin Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="category-management" class="nav-link text-dark"
                           asp-area="Admin" asp-controller="Category" asp-action="Index">
                            Quản lý danh mục
                        </a>
                    </li>
        }
    -->
        @if (roles.Contains("Employee")) // Nếu là Employee
        {
            <li class="nav-item">
                <a id="order-status" class="nav-link text-dark"
                   asp-area="Admin" asp-controller="Order" asp-action="Index">
                    Quản lý đơn hàng
                </a>
            </li>
        }

        <li class="nav-item">
            <!-- Form đăng xuất -->
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
